<!DOCTYPE HTML>
<html xmlns:layout="http://www.w3.org/1999/xhtml"
      layout:decorate="~{cliente/fragments/layout}">

<head>

    <title>Página Principal</title>

</head>

<body>

<!-- Page Content -->
<div class="container" layout:fragment="corpo">

    <div class="row">

        <div class="col-lg-3">
            <h3 class="my-4">Shopping Franciel</h3>
            <div class="list-group">
                <a href="#" class="list-group-item">Categoria Computador</a>
                <a href="#" class="list-group-item">Categoria Notbook</a>
                <a href="#" class="list-group-item">Categoria Smartphone</a>
            </div>
        </div>

        <div class="col-lg-9">

            <p style="margin-top:20px"></p>
            <div class="row">

                <div class="col mb-5" th:each=" produto : ${listaProdutos}">



                    <div class="card h-100">
                        <img class="card-img-top" th:src="@{/mostraImagem/{productid}(productid=${produto.id})}" alt="..." />

                        <!-- Product details-->
                        <div class="card-body p-4">
                            <div class="text-center">
                                <!-- Product name-->
                                <h5 class="fw-bolder"><span th:text="${produto.descricao}"></span></h5>
                                <!-- Product price-->
                                <span th:text="${produto.valorVenda}"></span>
                            </div>
                        </div>

                        <div class="card-footer">
                            <a class="btn btn-outline-dark mt-auto" th:href="@{/adicionarCarrinho/{id}(id=${produto.id})}" role="button">Comprar </a>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>

</html>